:root {
    --primary: #f2d544;
    --dark-blue: #130c24;
    --black: #232020;
    --gray: #999999;
    --beige: #f5f5f1;
    /*theme dependant colors*/
    --text-color: white;
    --light-icon: white;
    --gray-dark: #666666;
    --gray-light: #bdbdbd;
    --dark-icon: var(--black);
    --anchor-color: var(--primary);
    --gap: clamp(30px, 10vw, 80px);
}

* {
    box-sizing: border-box;
}

html {
    background-color: var(--dark-blue);
    color: var(--text-color);
    scroll-behavior: smooth;
}

html.light-theme {
    background-color: var(--beige);
    --text-color: var(--black);
    --gray-light: var(--gray-dark);
    --light-icon: var(--black);
    --dark-icon: white;
    --anchor-color: var(--black);
}

body {
    font-family: "Popins", sans-serif;
    margin: 0;
}

input, textarea, button, select {
    font: inherit;
}

::selection {
    background-color: var(--primary);
    color: var(--black);
}

@media (max-width: 37.5rem) {
    :root {
        --gap: 30px;
    }

    html {
        font-size: 70%;
    }
}